<div id="container-wrapper">
  <app-c40courses></app-c40courses>
  <app-c41attribute-binding></app-c41attribute-binding>
  <app-c42adding-bootstrap></app-c42adding-bootstrap>
  <app-c43class-binding></app-c43class-binding>
  <app-c44style-binding></app-c44style-binding>
  <app-c45event-binding></app-c45event-binding>
  <app-c46event-filtering></app-c46event-filtering>
  <app-c47template-variables></app-c47template-variables>
  <app-c48two-way-binding></app-c48two-way-binding>
  <app-c49pipes></app-c49pipes>
  <app-c50custom-pipe></app-c50custom-pipe>
  <app-s4-assignment2></app-s4-assignment2>
  <app-s4-assignment3></app-s4-assignment3>
</div>
