<div id="wrapper">

  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">

      <li class="sidebar-brand">
        <a routerLink=""> Angular Course</a>
      </li>

      <li>
        <a>Section 1</a>
      </li>
      <li>
        <a>Section 2</a>
      </li>
      <li routerLinkActive="active current">
        <a routerLink="/Section3containerComponent">Section 3 - Angular fundamentals</a>
      </li>
      <li routerLinkActive="active current">
        <a routerLink="/Section4containerComponent">Section 4 - Displaying data and handling events</a>
      </li>
      <li routerLinkActive="active current">
        <a routerLink="/Section5containerComponent">Section 5 - Building reusable components</a>
      </li>
      <li routerLinkActive="active current">
        <a routerLink="/Section6containerComponent">Section 6 - Directives</a>
      </li>
      <li routerLinkActive="active current">
        <a routerLink="/Section7containerComponent">Section 7 - Reactive forms</a>
      </li>
      <li routerLinkActive="active current">
        <a routerLink="/Section9containerComponent">Section 9 - Consuming HTTP services</a>
      </li>
      <li routerLinkActive="active current">
        <a routerLink="/Section15containerComponent">Section 15 - Angualr material</a>
      </li>
      <li>
        <a href="#">Section 7</a>
      </li>
      <li>
        <a href="#">Section 8</a>
      </li>
      <li>
        <a href="#">Section 9</a>
      </li>

    </ul>
  </div>

</div>